<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Form</title>
    <title>CSS Background Images</title>
<style type="text/css">
    body{
        background-image: url("https://wallpaperset.com/w/full/b/a/a/512911.jpg");
        background-size: cover;
        background-repeat:no-repeat;
    }
    .jumbotron {
	        background-image: url("https://wallpaperset.com/w/full/b/a/a/512911.jpg");
	        background-size: cover;
	        background-repeat: no-repeat;
	        text-align: center;
	        padding: 50px;
	    }
    label{
        color: white;
    }
	    
	.jumbotron h1, .jumbotron p {
	    color: white;
    }
</style>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1 style="color: white">Sighted Animals</h1>
                <p>Enter Animal details below!</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form", name="Animal Form">
                        <div class="form-group">
                            <label for="uuid">UUID</label>
                            <input type="text" class="form-control" id="inputuuid" name="uuid" placeholder="uuid">
                        </div>
                        <div class="form-group">
                            <label for="inputanimal_class">animal_class</label>
                            <input type="text" class="form-control" id="inputanimal_class" name="animal_class" placeholder="animal_class">
                        </div>
                        <div class="form-group">
                            <label for="inputbasisOfRecord">Basis of Record</label>
                            <input type="text" class="form-control" id="inputbasisOfRecord" name="basisOfRecord" placeholder="basisOfRecord">
                        </div>
                        <div class="form-group">
                            <label for="inputsex">Sex</label>
                            <input type="text" class="form-control" id="inputsex" name="sex" placeholder="sex">
                        </div>
                        <div class="form-group">
                            <label for="inputstateConservation">State Conservation</label>
                            <input type="text" class="form-control" id="inputstateConservation" name="stateConservation" placeholder="stateConservation">
                        </div>
                        <div class="form-group">
                            <label for="inputprotectedInNSW">Protected In NSW?</label>
                            <input type="text" class="form-control" id="inputprotectedInNSW" name="protectedInNSW" placeholder="protectedInNSW">
                        </div>
                        <div class="form-group">
                            <label for="inputeventDate">eventDate?</label>
                            <input type="text" class="form-control" id="inputeventDate" name="eventDate" placeholder="eventDate">
                        </div>
                        <div class="form-group">
                            <label for="inputdecimalLatitude">Latitude</label>
                            <input type="number" class="form-control" id="inputdecimalLatitude" name="decimalLatitude" placeholder="decimalLatitude">
                        </div>
                        <div class="form-group">
                            <label for="inputdecimalLongitude">Longitude</label>
                            <input type="number" class="form-control" id="inputdecimalLongitude" name="decimalLongitude" placeholder="decimalLongitude">
                        </div>
                        <div class="form-group">
                            <label for="inputfamily">Family</label>
                            <input type="text" class="form-control" id="inputfamily" name="family" placeholder="family">
                        </div>
                        <div class="form-group">
                            <label for="inputcounty">County</label>
                            <input type="text" class="form-control" id="inputcounty" name="county" placeholder="county">
                        </div>
                        <div class="form-group">
                            <label for="inputscientificName">Scientific Name</label>
                            <input type="text" class="form-control" id="inputscientificName" name="scientificName" placeholder="scientificName">
                        </div>
                        <div class="form-group">
                            <label for="inputvernacularName">Vernacular Name</label>
                            <input type="text" class="form-control" id="inputvernacularName" name="vernacularName" placeholder="vernacularName">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>

        </div>

    </body>

</html>
