
    body {
        font-family: "Exo 2", sans-serif;
        border: none;
        padding-bottom: 100px;
        overflow: hidden; 
    }

    .container {
        /* background-color: rgb(255, 0, 0); */
        min-width: 2400px;
        min-height: 1280px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .button-container {
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .button-container a {
        display: block;
        padding: 20px;
        background-color: #ccc;
        border-radius: 5px;
        text-align: center;
        color: #333;
        font-weight: bold;
        text-decoration: none;
    }
    h1 {
        font-size: 80px;
        font-weight: bolder;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    p {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    #selDataset {
        font-size: 15px;
        margin: 20px auto;
        font-weight: bold;
        text-align: center;
        display: block;
    }      
    #totalSightings {
        font-size: 20px;
        margin-top: 30px;
    }
    #plot {
        /* background-color: #333; */
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        height: 500px;
    }
    #gauge {
        background-color: blue;
        width: 600px;
        height: 300px;
        position: absolute;
        bottom: 0;
        right: 30px;
        top: 540px;
    }

    #myChart {
        background-color: rgb(21, 255, 0);
        width: 700px;
        height: 800px;
        position: absolute;
        bottom: 0;
        left: 30px;
        top: 300px;
    }

    @media screen and (min-width: 768px) {
        #plot {
          width: 70%; /* set the width for larger screens */
        }
    }
    #map-plot {
        /* background-color: #333; */
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        height: 500px;
    }
